*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #171717;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
      
}

.photoStart{
    background-image: url(./img/nutri.jpg);
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    width: 100%;
    height: 50vh;
}

.claro_escuro{
    padding: 10px;
    border: 1px solid #2d2d2d;
    background-color: #000000;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
    width: 100px;
    
}

.claro_{
    background-color: #fff;
    color: #000000;
    
}

.content{
    margin: 40px;
    width: 60%;
    

}
.content h1{
    text-align: center;
    font-size: 3.3rem;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 30px;
}

.content h2{
    text-align: start;
    margin: 20px 0 20px 0;
    font-size: 2rem;
    padding: 10px 0 10px 0; 
}

.content p{
    font-size: 1rem;
    margin-bottom: 10px;
}

.list{
    font-size: 1rem;
    list-style:decimal;
    text-align: start;
    margin: 20px;
}

 a{
    text-decoration:none;
    cursor: pointer;
    color: #00FFA3;
}


.soon {
    font-size: 1.5rem;
    margin: 40px;
    color: #00FFA3;
}

h4{
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #00FFA3;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainCalculator{
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   width: 504px;
}

.style_input{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
   
}

.style_input select{
    padding: 10px;
    background:#171717;
    border: solid 2px #4900FF;
    color: #00FFA3;
    font-size: 1.2rem;
    margin: 10px 0 10px;
   width: 525px;
    
}

.style_input input{
    padding: 10px;
    background:none;
    border: solid 2px #4900FF;
    color: #00FFA3;
    font-size: 1.2rem;
    margin: 10px 0 10px;
    width: 500px;
}

#age{
    background-color: #171717;
}
#height{
    background-color: #171717;
}
#Weight{
    background-color: #171717;

}


.bt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    
}

.b{
    padding: 10px;
    border-radius: 20px;
    border: none;
    width: 200px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
    background: linear-gradient(to left, #00FFA3, #257ED2, #4900FF);
    transition: 1s;
}

.b:hover{
    background: #4900FF;
}

h3{
    font-size: 2rem;
    padding: 10px;
    margin: 10px;
}

.result{
    padding: 15PX;
    margin: 10px;
    width: 100%;
    font-size: 1.3rem;
    border-bottom:solid 3px #4900FF ;
}

.result span{
    color: #00FFA3;
}

.result p{
    margin-bottom: 20px;
}


.pix{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.pix h4{
    margin: 20px 0;
}

.keyNome{
    margin: 20px 0 20px;
    color: #00FFA3;
    
}

.pix_img{
height: 300px;
margin-bottom: 20px;

}

.chave_nome{
    font-size: 1.3rem;
    color: #fff;
}

.rights{
    margin-bottom: 30px;   
}

.rights a{
    text-decoration: none;
    color: rgba(141, 140, 140, 0.461);
    cursor: pointer;

}

@media(max-width: 600px){

    .photoStart{
        display: none;
    }

    .content h1{
        font-size: 2rem;
    }

    .content h2 {
        font-size: 1.5rem;
    }

    .mainCalculator{
    width: 90%;
    }

    .soon{
    font-size: 1.5rem;
    width: 50% ;
    }
    .style_input{
        font-size: 1rem;
        width: 50% ;
    }
    
    .style_input input{
      
        width: 40% ;
    } 

    .style_input select{
        width: 100% ;
    }

    .b{
        font-size: 1rem;

    }

    .result{
        font-size:1rem;
        width: 50% ;
    }

    .pix{
        width: 100%;
    }

    .chave_nome {
        font-size: 1.2rem;
    }

    .keyNome {
        font-size: 0.8rem;
    }

    .pix h4{
        font-size: 1.2rem;
    }
    
}

@media(max-width: 360px){


    .soon{
        display: none;
    }

}


